.footer{
    padding: 0px 40px;
    color: rgb(23, 8, 43);
    background: linear-gradient(to top, #e471d6, #43013e);
}

.logo{
    font-weight: bold;
    width: 200px;
}

.logo a:hover{
    color:#661188b8;
}

.copy{
    text-align: center;
    margin: 10px;
}